/* Author: Juan Pablo Giraldo
   Date: 22/12/2020;
   Last Modification: 23/12/2020 22:47 COL;
*/

/*for all*/
*:focus{
	outline: none;
}

/*type styles*/
button{
	background-color: transparent;
	border: 0px;
	cursor: pointer;
    user-select: none;
}

/*class styles*/

.googlebtn {
	background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: 
    center;
    cursor: pointer;
    user-select: none;

}

.googlebtn:hover{
	background-color: #f4f8ff;
	border-color: #c9ddfc;
	text-decoration: none; 
}

.googlebtn:active{
	border-color: blue;
}

.src_links{
	font-family: arial,sans-serif;
    font-size: 13px;
    color: black;
    margin: 6px;
    text-decoration: none;
}

.src_links:hover{
	color: #3c4043;
	text-decoration: underline;

}

.dlinks{
	position: absolute;
	display: flex;
	top: 10px;
	right: 10px;	
}
/* ID styles*/

#srh_field{
	padding: 0px;
	background-color: transparent;
	outline: none;
	border: 0 solid; 
	width: 507px;
	height: 34px;
	margin: auto;
}

#srh_bar{
	padding: 5px 8px 0px 14px;
	border: 1px solid #e6e8eb;
	margin: 0px;
	display: flex;
	align-content: center;
	vertical-align: middle;
	width: 560px;
	height: 39px;
	border-radius: 36px;
}

#srh_bar:hover{
	box-shadow: 1px 2px #e6e8eb;
}

#logo{
	padding-top: 109px;
}


#sbtn{
	width: 30px;
	height: 30px;
}

#banner{
	width: 100%;
	height: 40%;
	background-color:  #f1f1f1;
	padding: 0px 20px 0px 15px;
}

#banimg{
	height: 30px;
	width: 92px;
	margin-top: 13px;
    margin-bottom: 13px;
}

#title{
	margin: 25px 35px;
	color: #d93025;
	font-size: 20px;
	font-family: arial, sans-serif;
}